@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Chewy", system-ui;
    
}

.contenedor-principal{
    width: 100%;
    max-width: 100%;
    overflow: hidden;/*Esto sirve para acultar lo que sobre en el contenedor*/
    position: relative;
    height: auto; /*para que la altura sea dinamica segun el contenido*/
}

/*aqui iniciamos el estilo de la barra de navegacion*/
.navbar{
    width: 100%;
    background-color: rgb(135, 189, 234);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
}

/*aqui configuramos los item de la lista y colocan horizontalmente*/
.navbar-menu{
    list-style: none;
    color: antiquewhite;
    display: flex;
    gap: 1.5rem;

}

/*aqui configuramos los item del menu navegacion*/
.navbar-link{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
}

/*aqui personalizamos el menu cuando el mous pasa por encima*/
.navbar-link:hover{
    color: rgb(61, 77, 123);
    font-weight: 900;
}

/*aqui configuramos el logo*/
.navbar-logo{
    font-size: 1.5rem;
    font-weight: bold;
}

/*menu hamburguesa icono*/
.navbar-icono{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}
/*oculto el checkbox del diseño*/
.menu-toggle{
    display: none;
}
/*fin del diseño de la barra de navegacion*/

/*inicio del carrusel de imagenes*/

/*configurar el contenedor principal del carrusel*/
h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 600px;
    color: white;
    text-align: center;

}

.contenedor-carrusel-imagenes{
    display: grid;
    grid-template-columns: repeat(3,100%);
    animation: carrusel 10s infinite;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.contenedor-carrusel-imagenes div{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    flex-shrink: 0;
}

.imagen1{
    background-image: url(./imagenes/Carrusel/c1.jpeg);
    position: relative;
}

.imagen2{
    background-image: url(./imagenes/Carrusel/c2.jpeg);
    position: relative;
}

.imagen3{
    background-image: url(./imagenes/Carrusel/c3.jpeg);
    position: relative;
}

/*=== animacion del carrusel de imagenes===*/
@keyframes carrusel {
    0% {transform: translateX(0%);}
    20% {transform: translateX(0%);}
    25% {transform: translateX(-100%);}
    45% {transform: translateX(-100%);}
    50% {transform: translateX(-200%);}
    70% {transform: translateX(-200%);}
    75% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}

/*inicio diseño card de productos 1*/
.contenedor-principal-card{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

.contenedor-card1{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.contenedor-card1 .card-productos1{
    width: 280px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.2);
    transition: all 0.25s;
}

.contenedor-card1 .card-productos1 img{
    width: 280px;
    height: 170px;
    object-fit: cover;
}

.contenedor-card1 .card-productos1:hover{
    transform: rotateY(-15px);
    box-shadow: 0 12px 16px rgba( 0, 0, 0, 0.2);
}

.contenedor-card1 .card-productos1 h4{
    font-weight: bold;
    padding-top: 5px;
}

.contenedor-card1 .card-productos1 p{
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 10px;
}

.contenedor-card1 .card-productos1 a{
    font-weight: 500;
    text-decoration: none;
    color: rgb(46, 69, 118);
}
/*fin diseños card de productos 1*/


/*inicio diseño card de productos 2*/

.contenedor-card2{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.contenedor-card2 .card-productos2{
    width: 250px;
    height: 330px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    object-fit: center;
    box-shadow: 0 2px 2px 2px rgba( 0, 0, 0, 0.3);
    transition: all 0.25s;
}

.contenedor-card2 .card-productos2 img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card-productos2 .cuerpo-card{
    background-color: rgba( 0, 0, 0, 0.05);
    position: relative;
    bottom: 0;
    padding: 20px;
    transition: all 0.25s;
    height: 200px;
}

.contenedor-card2 .cuerpo-card h4{
    padding-bottom: 10px;
}

.contenedor-card2 .cuerpo-card p{
    padding: 0 1rem;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 300;

}

.contenedor-card2 .cuerpo-card a{
    font-weight: 500;
    text-decoration:  none;
    color:rgb(46, 69, 118);
}

.contenedor-card2 .card-productos1:hover{
    transform:  translateY(-15px);
    box-shadow: 0 12px 16px rgba( 0, 0, 0, 0.2);
}


/*fin diseños card de productos 2*/


/*inicio de duseño de footer*/
footer{
    background-color: rgb(162, 161, 163);
    padding: 20px 0;
    text-align: center;

}

.contenedor-footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contenido-footer{
    flex:1;
    min-width: 200px;
}

.contenido-footer h4{
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.contenido-footer p{
    font-weight: 300;
}


.contenido-footer img{
    padding-top: 20px;
}

.contenido-footer a{
    padding-left: 10px;
}

.contenido-footer a img:hover{
    transform: translateY(-5px);
}
/*fin del diseño de footer*/


/*configuramos la pagina de modo responsivo a cualquier disposotivo*/

@media (max-width: 1024px){
    .contenedor-carrusel-imagenes{
        max-height: 350px;
    }
    h2{
        font-size: 1.5rem;
    }    
}

@media (max-width: 768px){
    .contenedor-carrusel-imagenes div{
        margin-top: 118px;
        max-height: 350px;
    }
    h2{
        font-size: 1.5rem;
    }
    /*mostramos el cono hambuerguesa*/
    .navbar-icono{
        display: block;
    }
    /*ocultar el menu por defecto*/
    .navbar-menu{
        position: absolute;
        top: 60px ;
        left: 0px;
        width: 100%;
        background-color:  rgb(102, 96, 96);
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3 ease;
    }
    /*mostrar el menu cuando damos click*/
    .menu-toggle:checked ~ .navbar-menu{
        margin-top: 40px;
        max-height: 300px;
    }
    .navbar{
        position:fixed;
        top: 0;
    }

    .navbar-menu li{
        width: 100%;
        text-align: center;
    }
    .navbar-link{
        display: block;
        padding: 0.5rem;
    }
    .contenedor-footer{
        flex-direction: column;
        align-items: center;
    }
    .contenido-footer{
        max-width: 100%;
    }
}
/*fin media querie 769px*/    

/*configuracion media querie 480px*/
@media (max-whidth: 480px){
    .contenedor-carrusel-imagenes div{
        max-height: 300px;
    }
}

/*fin de la configuraciom media querie 480px*/








